.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
.loading {
  width: 20px;
  height: 20px;
}
.each-char-row {
  background-color: aqua !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.my-card {
  margin-left: auto;
  margin-right: auto;
  width: calc(300px + 10%);
}
.multi-select {
  max-height: 50px;
}
